[submodule "packages/editor-x"]
	path = packages/editor-x
	url = https://github.com/bridgedxyz/editor-x
[submodule "packages/reflect-ui"]
	path = packages/reflect-ui
	url = https://github.com/bridgedxyz/reflect-ui-react
[submodule "packages/client-sdk"]
	path = packages/client-sdk
	url = https://github.com/bridgedxyz/client-sdk-ts
